name: Python Code Check

on: [push, pull_request, workflow_dispatch]

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: flake8 Linter
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v3
        with:
          python-version: "3.8"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          max-line-length: "150"
